@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/**********
DIV GALERIA
**********/
.divGaleria {
  display: flex;
  justify-content: space-around; }
  .divGaleria img {
    margin-top: 30px;
    width: 370px;
    height: 370px;
    border-radius: 30px; }

.divGaleria__left:hover {
  transition: ease 0.3s;
  transform: scale(1.2);
  z-index: 1; }

.divGaleria__center:hover {
  transition: ease 0.3s;
  transform: scale(1.2);
  z-index: 1; }

.divGaleria__right:hover {
  transition: ease 0.3s;
  transform: scale(1.2);
  z-index: 1; }

/******DIV GALERIA FIN********/
/*****CAJA BIG**********/
.cajaBig {
  display: flex;
  background-color: #e9ecef;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  height: 200px;
  letter-spacing: 2px; }
  .cajaBig .cajaBig__title {
    background-color: inherit;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
    .cajaBig .cajaBig__title h1 {
      font-size: 60px;
      font-weight: 300;
      background-color: inherit;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px; }
  .cajaBig .cajaBig__parraf {
    background-color: inherit;
    padding: 10px; }
    .cajaBig .cajaBig__parraf span {
      background-color: inherit; }
  .cajaBig .cajaBig__btn {
    background-color: #e9ecef; }
    .cajaBig .cajaBig__btn a {
      background-color: inherit; }
    .cajaBig .cajaBig__btn button {
      background-color: #0088a9;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      text-decoration: none;
      text-align: center;
      padding: 14px 28px;
      color: #e9ecef;
      margin-top: 10px;
      font-size: 18px;
      font-weight: 500; }
    .cajaBig .cajaBig__btn button:hover {
      background-color: rgba(0, 136, 169, 0.8);
      transform: scale(1.1); }

/********CAJA BIG FIN**********/
/**************
NAV BAR********/
li, a {
  font-weight: 500;
  font-size: 18px;
  color: #ecf0f1;
  text-decoration: none; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%; }

.nav__links {
  list-style-type: none; }
  .nav__links li {
    display: inline-block;
    padding: 0px 20px; }
    .nav__links li a {
      transition: all 0.3s ease 0s; }

.nav__links {
  list-style-type: none; }
  .nav__links li {
    display: inline-block;
    padding: 0px 20px; }
    .nav__links li a:hover {
      color: #0088a9; }

.logo {
  width: 150px;
  height: 70px;
  cursor: pointer; }

.logo:hover {
  transform: scale(1.1);
  transition: 0.2s ease; }

/*******FIN NAV BAR********/
/*******FOOTER*******/
.containerFooter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10%; }
  .containerFooter .containterFooter__green {
    font-size: 18px;
    color: #e9ecef;
    align-items: center; }
  .containerFooter .containerFooter__dev {
    justify-content: flex-end; }
  .containerFooter img {
    height: 30px;
    width: 30px; }

/*******FIN FOOTER*********/
h2 {
  text-align: center;
  margin-bottom: 70px;
  font-size: 60px;
  color: #d8f3dc; }

.containerProduc {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 2.5%; }
  .containerProduc img {
    width: 340px;
    height: 340px;
    border-radius: 50%; }
  .containerProduc div {
    padding: 1%;
    border-radius: 10%;
    background-color: #e9ecef;
    box-shadow: 8px 5px 5px black;
    margin: 1%; }
  .containerProduc h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin: 1%;
    background-color: #e9ecef; }
  .containerProduc p {
    font-size: 18px;
    font-weight: 400;
    background-color: #e9ecef; }

/*********
BOX TIENDA
*********/
.boxTienda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 2.5%;
  text-align: center; }
  .boxTienda button {
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    text-align: center;
    padding: 14px 28px;
    color: #e9ecef;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500; }
  .boxTienda button:hover {
    background-color: rgba(0, 136, 169, 0.8);
    transform: scale(1.1); }
  .boxTienda img {
    width: 370px;
    height: 370px;
    border-radius: 50%; }
  .boxTienda div {
    padding: 1%;
    border-radius: 10%;
    background-color: #e9ecef;
    box-shadow: 8px 5px 5px black;
    margin: 1%; }
  .boxTienda h4 {
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
    margin: 1%;
    background-color: #e9ecef; }
  .boxTienda p {
    font-size: 20px;
    font-weight: 400;
    padding: 1%;
    background-color: #e9ecef; }
  .boxTienda .boxTienda--img {
    border: 2px solid black;
    border-radius: 50%; }
  .boxTienda button:hover {
    transform: scale(1.3); }

.encabTienda {
  display: grid;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .encabTienda h2 {
    font-size: 60px;
    color: #d8f3dc; }
  .encabTienda p {
    font-size: 24px;
    background-color: #e9ecef;
    color: #212529; }
  .encabTienda h4 {
    font-size: 30px;
    color: #d8f3dc; }
  .encabTienda ul {
    display: flex;
    justify-content: space-evenly;
    background-color: #e9ecef; }
  .encabTienda li {
    list-style-type: none;
    font-size: 20px;
    color: #212529;
    background-color: #e9ecef; }

/*************
FIN BOX TIENDA 
*************/
/* PARRAFO  ********
********************
********************/
.boxNosotros {
  text-align: center; }
  .boxNosotros h2 {
    font-size: 70px; }
  .boxNosotros .parrafNosotros {
    text-align: center; }
    .boxNosotros .parrafNosotros .primerParraf {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px; }
    .boxNosotros .parrafNosotros p {
      font-size: 22px;
      background-color: #e9ecef;
      color: #212529; }
    .boxNosotros .parrafNosotros .finalParraf {
      font-weight: bold;
      font-size: 26px;
      color: #212529;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }

/************
**FIN PARRAFO
************/
/*IMG******
**********/
.logoFull {
  display: flex;
  justify-content: center; }
  .logoFull img {
    margin-top: 30px;
    width: 450px;
    height: 450px;
    border-radius: 50%; }
  .logoFull img:hover {
    box-shadow: 8px 8px 8px #d8f3dc;
    transition: all ease 1s; }

/**********
FIN IMG****/
/*****BOX RECETA******/
.boxReceta {
  text-align: center;
  display: grid;
  color: #212529;
  padding: 2%;
  margin: 2%; }
  .boxReceta h2 {
    font-size: 60px; }
  .boxReceta .boxReceta__img {
    display: flex;
    justify-content: space-around; }
    .boxReceta .boxReceta__img img {
      width: 750px;
      height: auto;
      margin-bottom: 50px;
      border-radius: 50%; }
    .boxReceta .boxReceta__img img:hover {
      transform: scale(1.15);
      transition: all ease 0.7s;
      border: 10px solid #dee2e6;
      overflow: hidden; }
  .boxReceta .boxReceta__intro {
    justify-content: center; }
    .boxReceta .boxReceta__intro p {
      background-color: #dee2e6;
      font-size: 22px;
      color: #212529; }
    .boxReceta .boxReceta__intro h4 {
      color: #212529;
      background-color: #dee2e6;
      font-size: 44px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
  .boxReceta .boxReceta__ingredientes h6 {
    background-color: #dee2e6;
    color: #212529;
    font-size: 32px; }
  .boxReceta .boxReceta__ingredientes ul li {
    list-style-type: none;
    background-color: #dee2e6;
    color: #212529;
    font-size: 24px; }
  .boxReceta .boxReceta__prep h6 {
    background-color: #dee2e6;
    color: #212529;
    font-size: 28px; }
  .boxReceta .boxReceta__prep p {
    background-color: #dee2e6;
    color: #212529;
    font-size: 22px; }

/*******FIN BOX RECETA*****/
/******RESPONSIVE TIENDA********/
@media screen and (max-width: 1240px) {
  .boxTienda {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; } }

@media screen and (max-width: 420px) {
  .boxTienda {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column; }
    .boxTienda img {
      height: 340px;
      width: 340px; }
    .boxTienda div {
      margin-top: 5%; }
  .encabTienda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    width: auto;
    text-align: center; }
    .encabTienda h2 {
      font-size: 34px; }
    .encabTienda ul {
      display: grid; } }

/*****FIN RESPONSIVE TIENDA*/
/*****RESPONSIVE PRODUCTOS***/
@media screen and (max-width: 1240px) {
  .containerProduc {
    display: grid; }
    .containerProduc p {
      border-radius: 30%; } }

@media screen and (max-width: 420px) {
  .containerProduc {
    display: flex;
    flex-direction: column;
    margin: 4%;
    flex-wrap: wrap; }
    .containerProduc img {
      width: 50%;
      height: 50%; }
    .containerProduc p {
      border-radius: 50%;
      padding: 10px; }
    .containerProduc div {
      width: 100%;
      margin-top: 7%;
      justify-content: center; } }

/****************FIN
RESPONSIVE PRODUCTOS
*******************/
/***************
RESPONSIVE INDEX
***************/
@media screen and (max-width: 1240px) {
  .divGaleria {
    display: flex;
    flex-wrap: wrap; }
    .divGaleria .divGaleria__right:hover {
      transform: scale(1.1); }
    .divGaleria .divGaleria__left:hover {
      transform: scale(1.1); }
    .divGaleria .divGaleria__center:hover {
      transform: scale(1.1); } }

@media screen and (max-width: 420px) {
  .divGaleria {
    display: grid; }
    .divGaleria .divGaleria__left {
      visibility: hidden; }
    .divGaleria .divGaleria__right {
      display: grid; }
    .divGaleria .divGaleria__center {
      position: absolute; }
    .divGaleria img {
      width: 100%; }
  .cajaBig {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 330px; } }

/*************
FIN RESPONSIVE 
INDEX********/
/******************
RESPONSIVE NOSOTROS
******************/
@media screen and (max-width: 420px) {
  .boxNosotros {
    display: grid; }
    .boxNosotros h2 {
      justify-content: center; }
  .parrafNosotros {
    display: grid;
    justify-content: center; }
    .parrafNosotros p {
      width: 100%; }
  .logoFull {
    display: grid; }
    .logoFull img {
      width: 250px !important;
      height: 250px !important;
      justify-content: center; } }

/**********************
FIN RESPONSIVE NOSOTROS
**********************/
/**********************
RESPONSIVE RECETAS*****/
@media screen and (max-width: 420px) {
  .boxReceta {
    display: grid;
    justify-content: center; }
    .boxReceta .boxReceta__img img {
      width: 100% !important;
      height: 200px !important; } }

/********************
FIN RESPONSIVE RECETAS
**********************/
/*********************
RESPONSIVE FOOTER*****/
@media screen and (max-width: 420px) {
  .containerFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; } }

/****************
FIN RESP FOOTER**/
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #495057;
  box-sizing: border-box; }

body {
  margin: 0.7%;
  word-spacing: 0.30em; }
  body p {
    padding: 3px; }
