@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/**********
DIV GALERIA
**********/
.divGaleria {
  display: flex;
  justify-content: space-around; }
  .divGaleria img {
    margin-top: 30px;
    width: 370px;
    height: 370px;
    border-radius: 30px; }

.divGaleria__left:hover {
  transition: ease 0.3s;
  transform: scale(1.5);
  z-index: 1; }

.divGaleria__center:hover {
  transition: ease 0.3s;
  transform: scale(1.5);
  z-index: 1; }

.divGaleria__right:hover {
  transition: ease 0.3s;
  transform: scale(1.5);
  z-index: 1; }

/******DIV GALERIA FIN********/
/*****CAJA BIG**********/
.cajaBig {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #dee2e6;
  margin-top: 30px;
  width: auto;
  height: 240px; }
  .cajaBig .cajaBig__btn {
    padding: 15px 40px; }
    .cajaBig .cajaBig__btn a {
      background-color: #0088a9; }
  .cajaBig p {
    margin-bottom: 10px; }
  .cajaBig .cajaBig__parraf--color {
    font-size: 25px;
    background-color: inherit; }
  .cajaBig .cajaBig__parraf {
    font-size: 29px;
    background-color: inherit; }
  .cajaBig .cajaBig__txt {
    grid-area: txt;
    font-size: 60px;
    font-weight: 300;
    background-color: inherit; }

/********CAJA BIG FIN**********/
/**************
NAV BAR********/
li, a, button {
  font-weight: 500;
  font-size: 18px;
  color: #ecf0f1;
  text-decoration: none; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%; }

.nav__links {
  list-style-type: none; }
  .nav__links li {
    display: inline-block;
    padding: 0px 20px; }
    .nav__links li a {
      transition: all 0.3s ease 0s; }

.nav__links {
  list-style-type: none; }
  .nav__links li {
    display: inline-block;
    padding: 0px 20px; }
    .nav__links li a:hover {
      color: #0088a9; }

button {
  padding: 9px 25px;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s; }

button:hover {
  background-color: rgba(0, 136, 169, 0.8); }

.logo {
  width: 150px;
  height: 70px;
  cursor: pointer; }

.logo:hover {
  transform: scale(1.1);
  transition: 0.2s ease; }

/*******FIN NAV BAR********/
/*******FOOTER*******/
.footer {
  display: flex;
  align-items: bottom;
  justify-content: center;
  margin-top: 200px; }
  .footer .footer__txt {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #f8f9fa; }
  .footer .footer__img {
    width: 20px;
    height: 20px; }

/*******FIN FOOTER*********/
h2 {
  text-align: center;
  margin-bottom: 70px;
  font-size: 40px;
  color: #d8f3dc; }

.containerProduc {
  display: flex;
  justify-content: space-around;
  text-align: center; }
  .containerProduc img {
    width: 100%;
    height: 470px; }
  .containerProduc div {
    background-color: #dee2e6;
    width: 25%;
    border: 2px solid #212529; }
  .containerProduc h3 {
    color: #212529;
    background-color: #dee2e6;
    font-size: 20px; }
  .containerProduc p {
    background-color: #dee2e6;
    color: #212529;
    font-size: 16px; }

/*********
BOX TIENDA
*********/
.boxTienda {
  display: flex;
  justify-content: space-around;
  margin-top: 100px; }
  .boxTienda h4 {
    font-size: 30px;
    background-color: #dee2e6;
    margin-left: 27%; }
  .boxTienda p {
    margin-left: 7%;
    font-size: 16px;
    background-color: #dee2e6; }
  .boxTienda button {
    margin-left: 150px;
    border-radius: 10px; }
  .boxTienda button:hover {
    transition: ease-out;
    transform: scaleX(1.4);
    transition: 0.2s ease-out; }
  .boxTienda div {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #dee2e6; }
  .boxTienda div:hover {
    transform: scale(1.1);
    transition: all ease 0.5s; }
  .boxTienda img {
    border-radius: 10px;
    width: 400px;
    height: 400px; }

.encabTienda {
  display: grid;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .encabTienda h2 {
    font-size: 60px;
    color: #d8f3dc; }
  .encabTienda p {
    font-size: 24px;
    background-color: #e9ecef;
    color: #212529; }
  .encabTienda h4 {
    font-size: 30px;
    color: #d8f3dc; }
  .encabTienda ul {
    display: flex;
    justify-content: space-evenly;
    background-color: #e9ecef; }
  .encabTienda li {
    list-style-type: none;
    font-size: 20px;
    color: #212529;
    background-color: #e9ecef; }

/*************
FIN BOX TIENDA 
*************/
/* PARRAFO  ********
********************
********************/
.boxNosotros {
  text-align: center; }
  .boxNosotros h2 {
    font-size: 70px; }
  .boxNosotros .parrafNosotros {
    text-align: center; }
    .boxNosotros .parrafNosotros p {
      font-size: 22px;
      background-color: #e9ecef;
      color: #212529; }
    .boxNosotros .parrafNosotros .finalParraf {
      font-weight: bold;
      font-size: 26px;
      color: #212529; }

/************
**FIN PARRAFO
************/
/*IMG******
**********/
.logoFull {
  display: flex;
  justify-content: center; }
  .logoFull img {
    margin-top: 30px;
    width: 450px;
    height: 450px;
    border-radius: 50%; }

/**********
FIN IMG****/
/*****BOX RECETA******/
.boxReceta {
  text-align: center;
  display: grid;
  color: #212529; }
  .boxReceta .boxReceta__img {
    display: flex;
    justify-content: space-around; }
    .boxReceta .boxReceta__img img {
      width: 1024px;
      height: auto;
      margin-bottom: 50px;
      border-radius: 50%; }
    .boxReceta .boxReceta__img img:hover {
      transform: scale(1.3);
      transition: all ease 0.7s;
      border: 10px solid #dee2e6; }
  .boxReceta .boxReceta__intro {
    justify-content: center; }
    .boxReceta .boxReceta__intro p {
      background-color: #dee2e6;
      font-size: 22px;
      color: #212529; }
    .boxReceta .boxReceta__intro h4 {
      color: #212529;
      background-color: #dee2e6;
      font-size: 44px; }
  .boxReceta .boxReceta__ingredientes h6 {
    background-color: #dee2e6;
    color: #212529;
    font-size: 32px; }
  .boxReceta .boxReceta__ingredientes ul li {
    background-color: #dee2e6;
    color: #212529;
    font-size: 24px; }
  .boxReceta .boxReceta__prep h6 {
    background-color: #dee2e6;
    color: #212529;
    font-size: 28px; }
  .boxReceta .boxReceta__prep p {
    background-color: #dee2e6;
    color: #212529;
    font-size: 22px; }

/*******FIN BOX RECETA*****/
/******RESPONSIVE TIENDA********/
@media screen and (max-width: 420px) {
  .boxTienda {
    display: grid; }
  div {
    width: auto;
    height: auto;
    margin-top: 20px; }
  .encabTienda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    width: 380px;
    text-align: center; }
    .encabTienda h2 {
      font-size: 34px; }
    .encabTienda ul {
      display: grid; } }

@media screen and (max-width: 1024px) {
  .boxTienda {
    display: grid; } }

/*****FIN RESPONSIVE TIENDA*/
/*****RESPONSIVE PRODUCTOS***/
@media screen and (max-width: 420px) {
  .containerProduc {
    display: grid; }
  div {
    width: 100% !important; } }

/****************FIN
RESPONSIVE PRODUCTOS
*******************/
/***************
RESPONSIVE INDEX
***************/
@media screen and (max-width: 420px) {
  .divGaleria {
    display: grid; }
    .divGaleria .divGaleria__left {
      visibility: hidden; }
    .divGaleria .divGaleria__right {
      visibility: hidden; }
    .divGaleria .divGaleria__center {
      position: absolute; }
    .divGaleria img {
      width: 100%; }
  .cajaBig {
    text-align: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 700px; } }

/*************
FIN RESPONSIVE 
INDEX********/
/******************
RESPONSIVE NOSOTROS
******************/
@media screen and (max-width: 420px) {
  .boxNosotros {
    display: grid; }
    .boxNosotros h2 {
      justify-content: center; }
  .parrafNosotros {
    display: grid;
    justify-content: center; }
    .parrafNosotros p {
      width: 100%; }
  .logoFull {
    display: grid; }
    .logoFull img {
      width: 250px !important;
      height: 250px !important;
      justify-content: center; } }

/**********************
FIN RESPONSIVE NOSOTROS
**********************/
/**********************
RESPONSIVE RECETAS*****/
@media screen and (max-width: 420px) {
  .boxReceta {
    display: grid;
    justify-content: center; }
    .boxReceta .boxReceta__img img {
      width: 100% !important;
      height: 200px !important; } }

/********************
FIN RESPONSIVE RECETAS
**********************/
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #495057; }

body {
  padding: 0.7%; }
