@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 


@import 'layout/_header';
@import 'layout/_index';
@import 'layout/_navbar';
@import 'layout/_footer';
@import 'layout/_produc';
@import 'layout/_tienda';
@import 'layout/_nosotros';
@import 'layout/_recetas';
@import 'layout/_responsive';


*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  //background-color: #24252a;
  background-color: #495057;
}
body
{
  padding: 0.7%;
}



