/******RESPONSIVE TIENDA********/

  @media screen and (max-width: 420px){
    .boxTienda{
      display: flex;
      height: auto;
      width: auto;
      flex-direction: column;
      
      img
      {
        height: 340px;
        width: 340px;
      }

      div 
      {
        margin-top: 5%;
      }
    }
  
    .encabTienda{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      align-items: stretch;
      width: auto;
      text-align: center;
      h2{
        font-size: 34px;
      }
      ul{
        display: grid;
      }
    }
  }

/*****FIN RESPONSIVE TIENDA*/


/*****RESPONSIVE PRODUCTOS***/

@media screen and(max-width: 420px){
  .containerProduc{
    display: flex;
    flex-direction: column;
    margin: 4%;
    flex-wrap: wrap;

    
  img 
  {
    width: 50%;
    height: 50%;
  }

  p 
  {
    border-radius: 50%;
    padding: 10px;
  }
  
  div{
    width: 100%;
    margin-top: 7%;
    justify-content: center;
  }

  }
}

/****************FIN
RESPONSIVE PRODUCTOS
*******************/



/***************
RESPONSIVE INDEX
***************/

@media screen and(max-width: 420px){
  .divGaleria{
    display: grid;
    .divGaleria__left{
      visibility: hidden;
    }
    .divGaleria__right{
      visibility: hidden;
    }
    .divGaleria__center{
      position: absolute;
    }
    img{
      width: 100%;
    }
  }

  .cajaBig{
    text-align: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 700px;
  }
}
/*************
FIN RESPONSIVE 
INDEX********/



/******************
RESPONSIVE NOSOTROS
******************/

@media screen and(max-width: 420px)
{
  .boxNosotros
  {
    display: grid;
      h2
      {
        justify-content: center;
      }
  }

  .parrafNosotros
  {
    display: grid;
    justify-content: center;
    p
    {
      width: 100%;
    }
  }

  .logoFull
  {
    display: grid;
    img
    {
      width: 250px!important;
      height: 250px!important;
      justify-content: center;
    }
  }
}

/**********************
FIN RESPONSIVE NOSOTROS
**********************/

/**********************
RESPONSIVE RECETAS*****/

@media screen and(max-width: 420px){
  .boxReceta
  {
    display: grid;
    justify-content: center;

      .boxReceta__img
      {
        img
        {
          width: 100%!important;
          height: 200px!important;
        }
      }
  }
}

/********************
FIN RESPONSIVE RECETAS
**********************/